/**
 * Estilos gerais para a aplicação.
 *
 * Author: Felipe Menezes <contato@felipemenezes.com.br>
 */

body,
html {
	margin: 0;
	padding: 0;
	font-family: Arial;
	background: #EEE;
	position: absolute;
	width: 100%;
	height: 100%;
}

a {
	outline: none;
	text-decoration: none;
}

.clear {
	clear: both;
}

/* CABECALHO */
.header {
	position: fixed;
	height: 50px;
	background: #09C;
	box-shadow: 0 4px 6px rgba(0,0,0,0.2);
	box-sizing: border-box;
	width: 100%;
	padding: 0 20px;
}

.header-wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.header .info {
	float: left;
	margin: 5px 0 0 0;
	font-size: 30px;
	font-family: monospace;
	word-spacing: -12px;
}

.header .info a {
	color: #FFF;
}

.user-display {
	float: right;
	position: relative;
	margin-top: 7px;
	outline: none;
}

.user-toogle-opts {
	cursor: pointer;
	color: #FFF;
	font-size: 14px;
	border: 2px solid rgba(255,255,255,0.7);
	border-radius: 3px;
	padding: 8px 15px;
	display: inline-block;
}

.user-display:hover .user-toogle-opts,
.user-display:focus .user-toogle-opts {
	background: rgba(255, 255, 255, 0.25);
}

.user-toogle-opts:after {
	content: "";
	float: right;
	display: inline-block;
	border: 5px solid transparent;
	border-top-color: #FFF;
	margin: 6px 0 0 8px;
}

.user-options {
	position: absolute;
	background: #FFF;
	top: 100%;
	padding: 10px 0;
	list-style: none;
	margin: 6px 0 0 0;
	width: 200px;
	right: 0;
	border-radius: 3px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.1);
	-webkit-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
	-webkit-transform-origin: top right;
	-moz-transform-origin: top right;
	transform-origin: top right;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	transform: scale(0);
	-webkit-transition: transform .3s, opacity .2s;
	-moz-transition: transform .3s, opacity .2s;
	transition: transform .3s, opacity .2s;
}

.user-display:hover .user-options {
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
	-webkit-transition: transform .1s, opacity .1s;
	-moz-transition: transform .1s, opacity .1s;
	transition: transform .1s, opacity .1s;
}

.user-options:before {
	content: "";
	width: 100%;
	height: 5px;
	bottom: 100%;
	position: absolute;
}

.user-options:after {
	content: "";
	border: 5px solid transparent;
	border-bottom-color: #FFF;
	position: absolute;
	top: -10px;
	right: 25px;
}

.user-options a {
	display: block;
	padding: 7px 20px;
	color: #444;
	font-size: 14px;
}

.user-options a:hover {
	background: #EEE;
}


/* Conteudo */
.wrapper {
	margin: 70px 20px 0 20px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.filter {
	margin: 0 -5px 20px -5px;
}

.filter .col {
	float: left;
	box-sizing: border-box;
	padding: 0 5px;
}

.filter .col .button {
	font-size: 18px;
	padding: 7px 0;
}

.filter .col.nome {
	width: 46%;
}

.filter .col.partido,
.filter .col.uf,
.filter .col.pesquisar {
	width: 18%;
}

.filter select {
	width: 100%;
	font-size: 18px;
	color: #666;
	padding: 6px 10px;
	border-radius: 3px;
}

.filter .col.pesquisar .button {
	box-sizing: border-box;
	width: 100%;
}

/* Registros */
table.list {
	border-collapse: collapse;
	width: 100%;
	border-radius: 4px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.1);
	overflow: hidden;
	background: #FFF;
}

table.list thead {
	background: #DDD;
	color: #444;
}

table.list thead th {
	text-align: left;
	font-size: 14px;
}

table.list th,
table.list td {
	padding: 10px 15px;
}

table.list th.center,
table.list td.center {
	text-align: center;
}

table.list tbody td,
table.list tfoot td {
	border: 1px solid #DDD;
	font-size: 14px;
	color: #444;
}

table.list tbody td a.button {
	display: inline-block;
	padding: 4px 6px;
}

table.list tfoot h4 {
	text-align: center;
	color: #999;
	margin: 0;
	font-size: 14px;
	line-height: 30px;
}


/* CARDS */
.card {
	background: #FFF;
	border-radius: 4px;
	padding: 25px;
	margin: 0 auto;
	max-width: 350px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.1);
}

.picture {
	width: 114px;
	height: 152px;
	border: 1px solid #DDD;
	margin: 0 auto;
}

.poker-chip {
	margin: 30px 0;
}

.back-link a {
	display: block;
	width: 70px;
	margin: 0 auto;
	text-align: center;
}

table.info {
	border-collapse: collapse;
	width: 100%;
	color: #666;
}

table.info th,
table.info td {
	padding: 0 5px 10px 5px;
	font-size: 14px;
	vertical-align: top;
	width: 50%;
}

table.info th {
	text-align: right;
	color: #444;
}

h4.no-exists {
	color: #AAA;
	max-width: 400px;
	text-align: center;
	margin: 20px auto;
	padding: 30px 0;
}

/* RODAPE */
.footer {
	font-size: 12px;
	text-align: center;
	padding: 10px 20px;
	margin-top: 20px;
	color: #999;
}


/* PÁGINAS */
.pages {
	float: left;
	width: 30px;
	heigth: 30px;
	border-radius: 18px;
	color: #FFF;
	text-align: center;
	line-height: 30px;
	background: #09C;
}

a.pages:hover {
	background: #06C;
}

.pages.next {
	float: right;
}

span.pages {
	background: #DDD;
	color: #999;
}



/* RESPONSIVIDADE */
@media screen and (max-width: 500px) {
	.filter .col.nome {
		width: 100%;
		margin-bottom: 10px;
	}
	
	.filter .col.partido,
	.filter .col.uf,
	.filter .col.pesquisar {
		width: 33.3333333333333%;
	}
	
	.header .info {
		width: 80px;
    	line-height: 18px;
    	font-size: 18px;
	}
}