input,
select,
textarea,
a {
	outline: none;
	-webkit-transition: border-color .3s, background-color .3s, transform .1s;
	-moz-transition: border-color .3s, background-color .3s transform .1s;
	transition: border-color .3s, background-color .3s, transform .1s;
}

input.check-field {
	margin: 0 4px 0 0;
	position: relative;
	top: 2px;
}

input.check-field + strong {
	font-size: 14px;
	color: #444;
	user-select: none;
}

input.text-field {
	font-size: 16px;
	color: #666;
	border: 1px solid #BBB;
	padding: 8px 12px;
	border-radius: 3px;
	width: 100%;
	display: block;
	box-sizing: border-box;
}

input.text-field:hover {
	border-color: #777;
}

input.text-field:focus {
	border-color: #09C;
}

a.button,
input.button {
	cursor: pointer;
	border: none;
	font-size: 12px;
	color: #FFF;
	background: #09C;
	border-radius: 3px;
	padding: 10px 14px;
}

a.button {
	background: transparent;
	color: #09C;
	border: 2px solid #09C;
	padding: 8px 12px;
}

a.button:hover {
	border-color: #06C;
}

input.button.secondary {
	background: #DDD;
	color: #444;
}

input.button:hover {
	background: #06C;
}

input.button.secondary:hover {
	background: #BBB;
}

a.button:active,
input.button:active {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	transform: scale(0.9);
}

.error {
	color: red !important;
	font-size: 11px;
	margin: 5px 0 0 0;
}